.p-panel
	width: 960px
	margin: 40px auto 0
	padding: 10px 20px 20px
	border: 2px solid #ddd
	&__task
		margin-bottom: 20px
	&__heading
		margin-bottom: 20px
	&__item
		margin-bottom: 40px
		> span
			margin-left: 20px
		.is-line-through
			text-decoration: line-through
			color: #ddd

